variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN

stages:
  - storybook
  - publish

storybook-test:
  image: mcr.microsoft.com/playwright:v1.44.0-jammy
  stage: storybook
  script:
    - npm ci
    - npm run build-storybook
    - npx serve dist-storybook -l 6006 &
    - sleep 15
    - npm run test-storybook
  only:
    - dev

npm-publish:
  image: docker.tecna.pl/node:lts
  stage: publish
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
    - npm run publish:nexus
  only:
    - master




