variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN
  UPSTREAM_REPO: $DOCKER_PROXY_URL
  DOWNSTREAM_REPO: $CI_REGISTRY
  UPSTREAM_REPO_USER: $NEXUS_USER
  UPSTREAM_REPO_PASSWORD: $NEXUS_PASSWORD
  GROUP_NAME: $CI_PROJECT_NAMESPACE
  APP_NAME: $CI_PROJECT_NAME


stages:
  - publish
  - storybook-tests
  - storybook-prepare
  - storybook-build
  - containerize
  - deploy



# Run Vitest Storybook tests
storybook-test:
  stage: storybook-tests
  image: docker.tecna.pl/node:lts
  dependencies:
    - storybook-npm-install
    - build-storybook
  variables:
    TZ: "Europe/Warsaw"
  script:
    - npm run vitest-storybook -- --maxWorkers=2 --testTimeout=30000 --ci --failOnConsole
  rules:
    - if: '$CI_COMMIT_REF_NAME == "stable"'
      when: always
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: manual
      allow_failure: true

# Install dependencies
storybook-npm-install:
  stage: storybook-prepare
  image: docker.tecna.pl/node:lts
  script:
    - npm config set registry https://${NPM_PROXY}
    - npm set //${NPM_REGISTRY}:_authToken=${NPM_TOKEN}
    - npm set //${NPM_PROXY}:_authToken=${NPM_TOKEN}
    - npm ci
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_REF_NAME == "stable" || $CI_COMMIT_REF_NAME == "master"'

# Build Storybook
build-storybook:
  stage: storybook-build
  image: docker.tecna.pl/node:lts
  dependencies:
    - storybook-npm-install
  script:
    - npm run build-storybook
  artifacts:
    paths:
      - storybook-static
  rules:
    - if: '$CI_COMMIT_REF_NAME == "stable" || $CI_COMMIT_REF_NAME == "master"'

docker-push-storybook:
  stage: containerize
  image: docker.tecna.pl/docker
  dependencies:
    - build-storybook
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD ${DOWNSTREAM_REPO}
    - docker login -u $UPSTREAM_REPO_USER -p $UPSTREAM_REPO_PASSWORD ${UPSTREAM_REPO}
  script:
    - docker build -f Dockerfile.storybook --build-arg "NEXUS3_URL=${UPSTREAM_REPO}" -t ${DOWNSTREAM_REPO}/$GROUP_NAME/$APP_NAME:storybook .
    - docker push ${DOWNSTREAM_REPO}/$GROUP_NAME/$APP_NAME:storybook
  only:
    - stable
    - master

docker-deploy-dev-storybook:
  stage: deploy
  image: ${UPSTREAM_REPO}/alpine:latest
  variables:
    SSH_PRIVATE_KEY: ${SSH_PRIVATE_KEY_AUREADEV}
    ENVIRONMENT: aureadev.tecna.pl
    USER: gitlab
    ENV_REPO_PATH: /opt/dashboards/
    APP_NAME: aurea-forms-storybook
    FILE_NAME: docker-compose.yml
  only:
    variables:
      - $REGISTRY_URL == "registry.tecna.pl"
    refs:
      - stable
      - master
  before_script:
    - apk update && apk add openssh-client bash rsync
    - eval $(ssh-agent -s)
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan ${ENVIRONMENT} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - ssh ${USER}@${ENVIRONMENT} "docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${DOWNSTREAM_REPO}; cd ${ENV_REPO_PATH}; docker compose pull ${APP_NAME}; docker compose up -d ${APP_NAME}"


aurea-forms-publish-stable:
  image: docker.tecna.pl/node:lts
  stage: publish
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
    - npm run publish:nexus --tag stable
  rules:
    - if: '$CI_COMMIT_REF_NAME == "stable"'
      when: always

aurea-forms-publish-master:
  image: docker.tecna.pl/node:lts
  stage: publish
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
    - echo "Publishing without tag (master branch)"
    - npm run publish:nexus
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: always


#aurea-dashboards:
#  stage: trigger_dependencies
#  trigger:
#    project: aurea/aurea-dashboard-frontend
#    branch: master
#    strategy: depend
#  variables:
#    SOURCE_PROJECT: $CI_PROJECT_NAME
#  rules:
#    - if: '$CI_COMMIT_REF_NAME == "master" || $CI_COMMIT_REF_NAME == "stable"'
#      when: always




