variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN

stages:
  - storybook
  - publish

storybook-test:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  stage: storybook
  variables:
    TZ: "Europe/Warsaw"
    NODE_ENV: "test"
    DEBUG_PRINT_LIMIT: "5000"
  script:
    - npm cache clean --force
    - npm ci --prefer-offline --no-audit
    - npm run build-storybook -- --quiet
    - npx http-server storybook-static --port 6006 --silent &
    - npx wait-on tcp:6006
    - npm run test-storybook -- --maxWorkers=2 --testTimeout=30000 --ci --failOnConsole
  only:
    - dev

npm-publish:
  image: docker.tecna.pl/node:lts
  stage: publish
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
    - npm run publish:nexus
  only:
    - master




