variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN
  UPSTREAM_REPO: $DOCKER_PROXY_URL
  DOWNSTREAM_REPO: $CI_REGISTRY
  UPSTREAM_REPO_USER: $NEXUS_USER
  UPSTREAM_REPO_PASSWORD: $NEXUS_PASSWORD
  GROUP_NAME: $CI_PROJECT_NAMESPACE
  APP_NAME: $CI_PROJECT_NAME


stages:
  - publish
  - storybook-build
  - storybook-tests
  - storybook-push
  - storybook-deploy
  - update-projects

storybook-build:
  stage: storybook-build
  image: docker.tecna.pl/node:lts
  script:
    - npm config set registry https://${NPM_PROXY}
    - npm set //${NPM_REGISTRY}:_authToken=${NPM_TOKEN}
    - npm set //${NPM_PROXY}:_authToken=${NPM_TOKEN}
    - npm ci
    - npm run build-storybook
  artifacts:
    paths:
      - storybook-static
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_REF_NAME == "stable"'


storybook-tests:
  stage: storybook-tests
  image: mcr.microsoft.com/playwright:v1.57.0-noble
  dependencies:
    - storybook-build
  variables:
    TZ: "Europe/Warsaw"
  script:
    - npm ci
    - npm run vitest-storybook
  rules:
    - if: '$CI_COMMIT_REF_NAME == "stable"'


storybook-push:
  stage: storybook-push
  image:
    name: gcr.io/kaniko-project/executor:v1.9.1-debug
    entrypoint: [ "" ]
  dependencies:
    - storybook-build
  before_script:
    - >
      echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}, 
      \"$UPSTREAM_REPO\":{\"username\":\"$UPSTREAM_REPO_USER\",\"password\":\"$UPSTREAM_REPO_PASSWORD\"}}}" 
      > /kaniko/.docker/config.json
  script:
    - >
      /kaniko/executor --context $CI_PROJECT_DIR 
      --dockerfile $CI_PROJECT_DIR/Dockerfile.storybook
      --build-arg NEXUS3_URL=${UPSTREAM_REPO}
      --destination ${DOWNSTREAM_REPO}/$GROUP_NAME/$APP_NAME:storybook
  only:
    - stable


storybook-deploy:
  stage: storybook-deploy
  image: ${UPSTREAM_REPO}/alpine:latest
  variables:
    SSH_PRIVATE_KEY: ${SSH_PRIVATE_KEY_AUREADEV}
    ENVIRONMENT: aureadev.tecna.pl
    USER: gitlab
    ENV_REPO_PATH: /opt/dashboards/
    APP_NAME: aurea-forms-storybook
    FILE_NAME: docker-compose.yml
  only:
    variables:
      - $REGISTRY_URL == "registry.tecna.pl"
    refs:
      - stable
  before_script:
    - apk update && apk add openssh-client bash rsync
    - eval $(ssh-agent -s)
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan ${ENVIRONMENT} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - ssh ${USER}@${ENVIRONMENT} "docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${DOWNSTREAM_REPO}; cd ${ENV_REPO_PATH}; docker compose pull ${APP_NAME}; docker compose up -d ${APP_NAME}"


aurea-forms-publish:
  image: docker.tecna.pl/node:lts
  stage: publish
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
    - npm run publish:nexus
    - ./get-version.sh
  artifacts:
    reports:
      dotenv: version.env




aurea-dashboards:
  stage: update-projects
  trigger:
    project: aurea/aurea-dashboard-frontend
    branch: master
    strategy: depend
  variables:
    UPDATED_AUREA_FORMS_VERSION: "$FORM_VERSION"
    UPSTREAM_PROJECT: "$CI_PROJECT_PATH"
    UPSTREAM_COMMIT: "$CI_COMMIT_SHA"
    RUN_UPDATE_FORMS: "true"

aurea-forms-builder:
  stage: update-projects
  trigger:
    project: aurea/aurea-runtime/aurea-forms-builder
    branch: master
    strategy: depend
  variables:
    UPDATED_AUREA_FORMS_VERSION: "$FORM_VERSION"
    UPSTREAM_PROJECT: "$CI_PROJECT_PATH"
    UPSTREAM_COMMIT: "$CI_COMMIT_SHA"
    RUN_UPDATE_FORMS: "true"




