variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN
  UPSTREAM_REPO: $DOCKER_PROXY_URL
  DOWNSTREAM_REPO: $CI_REGISTRY
  UPSTREAM_REPO_USER: $NEXUS_USER
  UPSTREAM_REPO_PASSWORD: $NEXUS_PASSWORD
  GROUP_NAME: $CI_PROJECT_NAMESPACE
  APP_NAME: $CI_PROJECT_NAME

stages:
  - storybook-tests
  - parallel-start    # Oba joby w tym samym stage!
  - build
  - containerize
  - deploy
  - publish

storybook-test:
  image: mcr.microsoft.com/playwright:v1.52.0-noble
  stage: storybook-tests
  variables:
    TZ: "Europe/Warsaw"
  script:
    - npm ci
    - npm run build-storybook
    - npx serve dist-storybook -l 6006 &
    - sleep 15
    - npm run test-storybook -- --maxWorkers=2 --testTimeout=30000 --ci --failOnConsole
  allow_failure: true
  when: manual
  only:
    - dev

# Ścieżka 1: Storybook - START (równolegle)
npm-install:
  stage: parallel-start    # Ten sam stage!
  image: docker.tecna.pl/node:lts
  needs: ["storybook-test"]
  script:
    - npm config set registry https://${NPM_PROXY}
    - npm set //${NPM_REGISTRY}:_authToken=${NPM_TOKEN}
    - npm set //${NPM_PROXY}:_authToken=${NPM_TOKEN}
    - npm install
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 week
  only:
    - dev

# Ścieżka 2: Publish - START (równolegle)
npm-prepare-publish:
  stage: parallel-start    # Ten sam stage!
  image: docker.tecna.pl/node:lts
  needs: ["storybook-test"]
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
  artifacts:
    paths:
      - dist/
      - package.json
    expire_in: 1 week
  only:
    - master
    - dev

# Kontynuacja ścieżki 1
build-storybook:
  stage: build
  image: docker.tecna.pl/node:lts
  needs: ["npm-install"]
  script:
    - npm run build-storybook
  artifacts:
    paths:
      - storybook-static
  only:
    - dev

docker-push-storybook:
  stage: containerize
  image: docker.tecna.pl/docker
  needs: ["build-storybook"]
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD ${DOWNSTREAM_REPO}
    - docker login -u $UPSTREAM_REPO_USER -p $UPSTREAM_REPO_PASSWORD ${UPSTREAM_REPO}
  script:
    - docker build -f Dockerfile.storybook --build-arg "NEXUS3_URL=${UPSTREAM_REPO}" -t ${DOWNSTREAM_REPO}/$GROUP_NAME/$APP_NAME:storybook .
    - docker push ${DOWNSTREAM_REPO}/$GROUP_NAME/$APP_NAME:storybook
  only:
    - dev

docker-deploy-dev-storybook:
  stage: deploy
  image: ${UPSTREAM_REPO}/alpine:latest
  needs: ["docker-push-storybook"]
  variables:
    SSH_PRIVATE_KEY: ${SSH_PRIVATE_KEY_AUREADEV}
    ENVIRONMENT: aureadev.tecna.pl
    USER: gitlab
    ENV_REPO_PATH: /opt/dashboards/
    APP_NAME: aurea-forms-storybook
    FILE_NAME: docker-compose.yml
  only:
    variables:
      - $REGISTRY_URL == "registry.tecna.pl"
    refs:
      - dev
  before_script:
    - apk update && apk add openssh-client bash rsync
    - eval $(ssh-agent -s)
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan ${ENVIRONMENT} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - ssh ${USER}@${ENVIRONMENT} "docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${DOWNSTREAM_REPO}; cd ${ENV_REPO_PATH}; docker compose pull ${APP_NAME}; docker compose up -d ${APP_NAME}"

# Kontynuacja ścieżki 2
npm-publish:
  stage: publish
  image: docker.tecna.pl/node:lts
  needs: ["npm-prepare-publish"]
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - export VERSION=$(node -p "require('./package.json').version")
    - export TAG="stable-${VERSION}"
    - echo "Publishing with tag= ${TAG}"
    - npm run publish:nexus -- --tag ${TAG}
  only:
    - master
    - dev
