variables:
  DOCKER_DRIVER: overlay2
  DOCKER_AUTH_CONFIG: $CI_DOCKER_AUTH_CONFIG
  NPM_REGISTRY: nexus3.tecna.pl/repository/npm-private-releases
  NPM_PROXY: nexus3.tecna.pl/repository/npm-private
  NPM_TOKEN: $TECNA_NPM_TOKEN

stages:
  - storybook
  - publish

storybook-test:
  image: docker.tecna.pl/node:lts
  stage: storybook
  script:
    # Ustawienie strefy czasowej i locale EN
    - apt-get update && apt-get install -y tzdata locales
    - ln -fs /usr/share/zoneinfo/Europe/Warsaw /etc/localtime
    - dpkg-reconfigure -f noninteractive tzdata
    - locale-gen en_US.UTF-8
    - update-locale LANG=en_US.UTF-8
    - export LANG=en_US.UTF-8
    - export LANGUAGE=en_US:en
    - export LC_ALL=en_US.UTF-8

    # Konfiguracja NPM
    - npm config set registry https://${NPM_PROXY}
    - npm set //${NPM_REGISTRY}:_authToken=${NPM_TOKEN}
    - npm set //${NPM_PROXY}:_authToken=${NPM_TOKEN}

    # Budowanie i testowanie Storybooka
    - npm ci
    - npx playwright install --with-deps --only-shell chromium
    - npm run build-storybook
    - npm install -g http-server
    - http-server dist-storybook -p 6006 &
    - sleep 15
    - npm run test-storybook
  only:
    - dev

npm-publish:
  image: docker.tecna.pl/node:lts
  stage: publish
  script:
    - echo "$NPM_REGISTRY_CONFIG" > ~/.npmrc
    - npm install
    - npm run build
    - npm run publish:nexus
  only:
    - master




